.dashboard-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9fafc;
  border-radius: 16px;
}

.dashboard-title {
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
  font-size: 32px !important;
  color: #222;
}

.filter-card {
  margin-bottom: 15px !important;
}

.MuiCard-root {
  background-color: #fcfcfd !important;
  border: 1px solid #e6e8eb;
}

.summary-card {
  padding: 10px !important;
  min-width: 120px;
  text-align: center;
}

.records-table-container {
  margin-bottom: 15px !important;
}

.records-table-title {
  padding: 10px !important;
}
